body {
  font-family: system-ui, sans-serif;
  margin: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.dag-debug {
  border: 1px solid #ccc;
  padding: 1rem;
  font-size: 0.6rem;
  border-radius: 4px;
  color: #555;
}

.dag-controls {
  margin-block: 0.75rem;

  button {
    padding: 0.25rem 0.75rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;

    &:hover:not(:disabled) {
      background: #f0f0f0;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.dag-editor {
  > ul {
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 0.75rem;
  }

  ul {
    list-style: none;
    padding: 0;

    ul {
      padding-left: 1rem;
    }
  }

  li.dag-node {
    cursor: grab;
    padding: 0.25rem 0.5rem;
    .dag-node {
      margin: 0.25rem 0;
    }
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    user-select: none;

    &.sortable-ghost {
      opacity: 0.3;
    }

    div.head {
      display: flex;
      gap: 0.75rem;
      .node-label {
        color: hsl(0deg 0% 10%);
        font-size: 0.8rem;
      }

      .node-btns {
        display: flex;
        gap: 0.25rem;
        align-items: center;

        button {
          border: none;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
          padding: 0;
          display: flex;
          font-family: monospace;
          place-items: center;
          justify-content: center;
          aspect-ratio: 1;
          color: white;
          font-weight: 900;
          border-radius: 100%;
          height: 1rem;
          background: hsl(240deg 0% 80%);
          text-indent: -9999px;

          &.node-btn-instance {
            mask: url("/icons/document-duplicate.svg") center no-repeat;
            &:hover {
              background: hsl(120deg 40% 50%);
            }
          }

          &.node-btn-delete {
            mask: url("/icons/x-mark.svg") center no-repeat;
            &:hover {
              background: hsl(0deg 40% 50%);
            }
          }

          &.node-btn-add {
            mask: url("/icons/plus.svg") center no-repeat;
            &:hover {
              background: hsl(240deg 40% 50%);
            }
          }
        }
      }
    }
  }
}

.dag-errors {
  &:empty {
    display: none;
  }

  position: fixed;
  top: 1rem;
  right: 1rem;
  max-width: 20em;
  background: hsla(0deg 100% 50% / 0.1);
  padding: 0.5rem 1rem;
  color: hsla(0deg 100% 25% / 1);
  border-radius: 4px;
  font-size: 0.8rem;
}
